html{
    max-height: 100%;
    max-width: 100%;
    width: 100%;
    height:100%;
}
body{
    width: 100%;
    height:100%;
    margin: 0px;
    overflow: hidden;
}
/*               Header                   */

.header{
    background-color:#323442;
    width: 100%;
    height: 14.3%;
    margin: 0px;
    align-items: center;
    display: flex;
}
.imgBabble{
    width: 166px;
    height: 70px;
    margin-left:13px;
}
/*                    nav                 */
nav{
    width: 18%;
    height: 85.7%;
    background-color:#61d290;
    float:left;
}

/*               Main              */
main{
    background-color:#f6f6f6;
    float:right;
    width: 82%;
    height:72.4%;
}

.main h1{
    font-family: Nunito;
    color: #292929;
    font-size: 22.5px;
    display:inline-block;
    margin: 22px 0px 0px 29px;
    font-weight: 400;
    text-align: left;
}
#messagesListID{
    margin-left: 24px;
    margin-top:18px;
    overflow-y: scroll;
    background-color: #f6f6f6;
    margin-bottom:9px;
    height: 85%;
    margin-right:10px;
}
.main dl{
    float:right;
    margin-right:42px;
}
#counterMsg{
    margin:0px 8px 0px 0px;
}
#counterUser{
    margin:0px;
}
.main dd{
    display:inline-block;
    margin:0px;
}
/*        Footer       */
footer{
    width: 82%;
    height: 13.3%;
    background-color: #ffffff;
    display:inline-block;
}
.SendForm{
    width: 100%;
    height: 100%;
}
.textChat{
    margin:17px 0px 0px 19px;
    display: inline-block;
    width: 67.9%;
    height: 7.7%;
    font-family: Nunito;
    color:  #616161;
    font-size: 15px;
    position: absolute;
    font-weight: 400;
    line-height: 40px;
    text-align: left;
}
#textAreaChat{
    height:100%;
    border:none;
    resize: none;
    width:100%;
}
.Simg{
    float:right;
    margin:22px 45px 0px 0px;
    width: 3.5%;
    height: 6.4%;
}
/*                Scroll Bar              */
.messagesList::-webkit-scrollbar{
    background-color:  #ffffff;
    width: 0.7%;

}
.messagesList::-webkit-scrollbar-thumb{
    border-style: solid;
    border-width: 1px;
    border-color:  #d7d7d7;
    background-color:  #ebedec;
    border-width: thin;
    border-radius: 8px;
}
.messagesList::-webkit-scrollbar-track{
    border-style: solid;
    border-radius: 8px;
    border-color: #dddddd;
    border-width: thin;
}


/*                   MODAL                */

.modal{
    visibility: hidden;
    display:none;
}
.modal-content{
    display:inline-block;
    background-color: #f9f9f9;
    border:1px;
    width:25%;
    height:26%;
    top:34%;
    left:33%;
    z-index: 3;
    border-radius: 5px;
    display: inline-block;
    position: fixed;
}
.modal-content h1{
    font-size: 21px;
    margin:25px 0px 0px 25px;
    font-weight: lighter;
    font-family:Palatino Linotype;
}
.NameEmail{
    margin-left:25px;
    height:35%;
}
.NameEmail p{
    width:100%;
    height:30%;
}
.NameLabel {
    font-size:13px;
    font-weight: lighter;
    font-family: Lucida Sans Unicode;
}
.Name{
    font-weight: lighter;
    font-family: Lucida Sans Unicode;
}
.grey-Background{
    height: 100%;
    width: 100%;
    top:0;
    left:0;
    opacity: 0.5;
    overflow:hidden;
    z-index: 2;
    position:fixed;
    background-color:#83848c;
}
.buttonSign{
    float:right;
    margin-right:20px;
    width:100%;
    height:30%;
}
.btnAnonymous{
    background-color:#c1c1c1;
    float:right;
    border: 0;
    border-radius: 1px;
    height:100%;
}


.btnSave{
   background-color: #65c15d;
   color:white;
   float:right;
   width:20%;
   margin-left:8px;
   border: 0;
   border-radius: 1px;
   height:100%;
}
#Name{
    width:70%;
    float:right;
    margin-right:20px;
    border-radius: 5px;
    border:1px solid #d8d8d8;
    height:100%;
}
#Email{
    width:70%;
    float:right;
    border-radius: 5px;
    border:1px solid #d8d8d8;
    margin-right:20px;
    height:100%;
}
/*      MESSAGES     */


.messagesList{
    padding: 0;
    list-style-type: none;
    overflow-x: hidden;
}
.messagesList li{

}

.messagesList div{
    display: inline-block;
    border-radius: 9px;
    border-style: solid;
    border-width: 1px;
    border-color:  #d7d7d7;
    background-color:  #ffffff;
    max-width: 52.8%;
    padding-left:9px;
    padding-top: 9px;
    padding-bottom: 0px;
    padding-right:9px;
    margin-bottom: 14px;
    max-width: 676px;
    min-width: 32.7%;
    min-height: 7.4%;

}
.messagesList div:hover{
    border-color:  #d7d7d7;
    background-color:  #ebedec;
}
.messagesList div:hover .buttonDelete{
    visibility: visible;
    display:block;
}
.messagesList .Images{
    margin-right:9px;
    vertical-align: top;
    border-radius: 50%;
}

cite{
    font-family: Nunito;
    color:  #202729;
    font-size: 15px;
    font-weight: 700;
    text-align: right;
}
.messagesList time{
    font-family: Nunito;
    color: #999999;
    font-size: 12px;
    font-weight: 400;
    text-align: left;
    margin-left:10px;
}
.messagesList p{
    margin-top:12px;
    margin-bottom: 6px;
    font-family: Nunito;
    color:  #616161;
    font-size: 15px;
    font-weight: 400;
    text-align: left;
}
.buttonDelete {
    float:right;
    margin-top:5px;
    visibility: hidden;
    display:none;
    cursor:pointer;
}